%h3= t('shippings.plural')

%table.table
  %thead
    %th=  t('shippings.type')
    %th=  t('shippings.shipping_date')
  %tbody
    = render @shippings
= link_to t('shippings.new') , new_shipping_path, class: 'btn btn-info'
%hr
= paginate @shippings