%tr
  %td= project.status
  %td= project.shipping_date
  %td= project.prototype_name
  %td
    = link_to t('actions.show') , project_path(project), class: 'btn btn-info'
    = link_to t('actions.delete'), project_path(project), method: :delete, class: 'btn btn-danger', data: {confirm: t('r_u_sure') } 