%h3= t('projects.plural')
%table.table
  %thead
    %th=  t('projects.status')
    %th=  t('shippings.shipping_date')
    %th=  t('shippings.name')
  %tbody
    = render @projects
= link_to t('projects.new') , new_project_path, class: 'btn btn-info'
%hr
= paginate @projects