%h3= t('words.plural')
= dictionary.word_dictionary_path
%table#words.table
  %thead
    %th= t('words.body')
    %th= t('actions.plural')
  %tbody
    = render @words
= link_to t('words.new'), new_dictionary_word_path(dictionary), class: "btn btn-success"
