- resource = resource.decorate
%tr  
  %td= resource.name_body
  %td= resource.category_body
  %td= resource.type
  %td= resource.unit_body
  %td= resource.price_uah
  %td= resource.price_usd
  %td= resource.price_eur
  %td= resource.count
  %td
    = link_to "Edit resource", edit_resource_path(resource), class: 'btn btn-warning'
    = link_to "Delete", resource_path(resource), class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure?"}