%h3= "New resource"

= form_for(@resource, url: resources_path, class: "form-control") do |f|
  .form-group.row
    .col-md-4
      = f.label "Name"
      = f.collection_select(:name_id, @materials_dictionary.words, :id, :body, {include_blank: t('.choose_name')}, {"class": "btn btn-primary btn-round"})
    .col-md-4
      = f.label "Category"
      = select_tag 'resource[category_id]', options_for_select(@subtype_dictionary.options, @resource.category_id), include_blank: t('.choose_category'), class: "btn btn-primary btn-round"
    .col-md-4
      = f.label "Unit"
      = f.collection_select(:unit_id, @units_dictionary.words, :id, :body, {include_blank: t('.choose_unit')}, {class: "btn btn-primary btn-round"})
  .form-group.row
    .col-md-3
      = f.label "Type"
      =  select_tag 'resource[type]', options_for_select(Resource.available_resources, "Countable"), {class: "form-control"}
    .col-md-3
      = f.label "Price(uah)"
      = f.text_field :price_uah,  class: "form-control", mask: :float
    .col-md-3
      = f.label "Price(usd)"
      = f.text_field :price_usd,  class: "form-control", mask: :float
    .col-md-3
      = f.label  "Price(eur)"
      = f.text_field :price_eur,  class: "form-control", mask: :float
  .form-actions
    = f.submit "Save resource", class: "btn btn-primary btn-round"

:javascript
  $(document).ready(function(){
    $('[mask=float]').mask('0ZZZZZ.ZZ', {
       translation: {
           'Z': {
               pattern: /[0-9]/,
               optional: true
           }
       }
    });

    $("#resource_name_id").change(function(){
       Helpers.getObjectsFromLocation('/dictionaries/#{@materials_dictionary.id}/words/' + $(this).val() + '/subtypes');
    })
  })